DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=hocai.site,www.hocai.site,localhost,127.0.0.1
MYSQL_NAME=h51ecb951c_hocai
MYSQL_USER=h51ecb951c_hocai
MYSQL_PASSWORD=phat2009
MYSQL_HOST=localhost
MYSQL_PORT=3306
